/* Variables */
:root {
  --light-blue: rgb(167, 202, 237);
  --dark-blue: #1976d2;
}

/* Main Task */
#main-task-container {
  width: 70%;
  min-width: 500px;
  max-width: 1000px;
  padding-top: 15px;
  margin: 0 auto;
}

#task-description-container {
  margin-top: 20px;
  width: 95%;
}

#task-features-container {
  padding-top: 25px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
}

#task-buttons-container {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 0 auto;
}

#task-buttons-container .button:not(.Mui-disabled) {
  background-color: var(--light-blue);
}

.prompt-text {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
}

#ai-decision {
  border: 1px solid var(--dark-blue);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  width: fit-content;
}

#task-features-table {
  width: fit-content;
}

/* General Text */
.task-section-header {
  font-weight: bold;
}

/* General Button */
.centered.button {
  display: table;
  margin: 0 auto;
}

/* Error */
#return-hit-message {
  padding-top: 25%;
  width: 30%;
  margin: 0 auto;
  min-width: 500px;
}

/* Stepper */
#task-stepper {
  padding-top: 5px;
  width: 80%;
  margin: 0 auto;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 10000;
}

#RFS-StepButton.completed {
  background-color: var(--light-blue);
}

#RFS-StepButton.active {
  background-color: var(--dark-blue);
}

/* Task Description */
#hit-description {
  margin: 0 auto;
  width: 70%;
  min-width: 500px;
  max-width: 1050px;
}
#hit-description .button {
  background-color: var(--light-blue);
}

/* Tutorial */
#onboarding {
  text-align: center;
}
#onboarding .button {
  background-color: var(--light-blue);
}

/* Exit Survey */
#exit-survey-container {
  width: 70%;
  min-width: 500px;
  padding-top: 50px;
  margin: 0 auto;
}
#exit-survey-container .button {
  background-color: var(--light-blue);
}

#diverging-bar-chart-container {
  width: 80%;
}
