#main-task-container {
  width: 70%;
  min-width: 500px;
  max-width: 1000px;
  padding-top: 50px;
  margin: 0 auto;
}

#task-description-container {
  margin-top: 15px;
  width: 95%;
}

.task-section-header {
  font-weight: bold;
}

#task-features-container {
  padding-top: 25px;
  padding-bottom: 30px;
  width: 100%;
  margin: 0 auto;
}

.prompt-text {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 2px;
}

/* #ai-assist-container .choices,
#task-choices-container .choices {
  display: table;
  margin: 0 auto;
} */

#ai-decision {
  border: 1px solid rgb(150, 44, 44);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 15px;
  width: fit-content;
}

#task-buttons-container {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 45px;
  margin: 0 auto;
}

#exit-survey-container {
  width: 70%;
  min-width: 500px;
  max-width: 1000px;
  padding-top: 50px;
  margin: 0 auto;
}

.centered.button {
  display: table;
  margin: 0 auto;
}

#return-hit-message {
  padding-top: 25%;
  width: 30%;
  margin: 0 auto;
  min-width: 600px;
}

#task-stepper {
  padding-top: 15px;
  width: 80%;
  margin: 0 auto;
  position: sticky;
  background-color: white;
  top: 0;
  z-index: 10000;
}
